*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #0F1010;
    height: 10vh;
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100%;
}
header ul{
 text-decoration: none;
 list-style: none;
 display: flex;
 justify-content: space-around;
}
header ul li a ,button{
    text-decoration: none;
    color: white;
    margin-left: 2em;
}
header button{
    background-color: #52AB98;
    width: 70px;
    height: 30px;
    font-weight: bolder;
}
header ul,p{
    margin-top: 2em;
    font-size: bold;
}
header p{
    font-weight: 100;
    font-family: pacifico;
}