*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #0F1010;
    height: 10vh;
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100%;
}
header ul{
 text-decoration: none;
 list-style: none;
 display: flex;
 justify-content: space-around;
}
header ul li a ,button{
    text-decoration: none;
    color: white;
    margin-left: 2em;
}
header button{
    background-color: #52AB98;
    width: 70px;
    height: 30px;
    font-weight: bolder;
}
header ul,p{
    margin-top: 2em;
    font-size: bold;
}
header p{
    font-weight: 100;
    font-family: pacifico;
}

/* section 1 start */

.sec-1{
    width: 100%;
    max-width: 100%;
    height: 200vh;
    padding: 80px;
    background-color: blue;
}

.services{
    background-color: white;
    width: 180vh;
    height: 150vh;
    overflow: hidden;

}

.services2{
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 50px;

}

.cards1{
    width: 100% ;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.card-0{
    width:20em;
    height:20em;
    margin: 0;
    background-image: url("/images/garden.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.card-1{
    width:20em;
    height:20em;
    margin: 0;
    background-image: url("/images/rafiki.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.card-2{
    width:20em;
    height:20em;
    margin: 0;
    background-image: url("/images/dogs.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.card-3{
    width:20em;
    height:20em;
    margin: 0;
    background-image: url("/images/garden.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.card-4{
    width:20em;
    height:20em;
    margin: 0;
    background-image: url("/images/garden.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* end of cards section */

