
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    }
    body{
        background-image: linear-gradient(to bottom right, #52AB98, white);

    }

    nav{
        background-color: #0F1010;
        height: 12vh;
        display: flex;
        color: white;
        justify-content: space-around;
        width: 100%;
    }
    nav ul{
     text-decoration: none;
     list-style: none;
     display: flex;
     justify-content: space-around;
    }
    nav ul li a ,button{
        text-decoration: none;
        color: white;
        margin-left: 2em;
    }
    nav button{
        background-color: #52AB98;
        width: 70px;
        height: 30px;
        font-weight: bolder;
        text-align: center;
    }
    nav button a{
        font-weight: bolder;
    }
    nav ul,p{
        margin-top: 2em;
        font-size: bold;
    }
    nav p{
        font-weight: 100;
        font-family: pacifico;
    }

   /* header{
       background-color: #0F1010;
       height: 12vh;
       display: flex;
       color: white;
       justify-content: space-around;
       width: 100%;
   }
   header ul{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
   }
   header ul li a ,button{
       text-decoration: none;
       color: white;
       margin-left: 2em;
   }
   header button{
       background-color: #52AB98;
       width: 70px;
       height: 30px;
       font-weight: bolder;
   }

   header ul,p{
       margin-top: 2em;
       font-size: bold;
   }
   header p{
       font-weight: 100;
       font-family: pacifico;
   } */
   
    .block1{
        background-image: url("./Hand4.jpg");
        height: 60vh;
        background-size: cover;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        color: white;
        font-weight: bolder;
        text-align: center;
        position: relative;
    }
    #block1a{
        position: absolute;
        top: 5%;
        left: 35%;
        font-size: 35px;
    }
    #block1b{
        position: absolute;
        top: 50%;
        left: 40%;
    }
    .block2{
        height: 5vh;
    }
    .block3{
        height: 50vh;
        border: 2px solid #52AB98;
        position: relative;
        overflow: visible;
    }
    .block3a{
        display: flex;
        justify-content: space-around;
    }
    #block3a1{
        font-weight: bolder;
    }
    #block3a2{
        font-weight: bold;
        font-size: small;
    }
    .block3b{
        background-color: #52AB98;
        position: absolute;
        top: 65%;
        left: 30%;
        width: 40%;
        height: 30vh;
        text-align: center;
    }
    .block3b ul{
        display: flex;
        flex-wrap: wrap;
        height: 30%;
        margin-top: 2em;
    }

    .block3b ul li{
        list-style-type: square;
    }
    .block3b ul li a{
        text-decoration: none;
        color: white;
        margin-left: 5em;
    }
    .block4{
        height: 80vh;
        position: relative;
    }
   .block4_images{
       position: absolute;
       top: 30%;
       width: 100%;
       justify-content: space-between;
   }
   .block4_images img{
       margin-left: 3em;
   }
   .block4a{
       position: absolute;
       top: 65%;
       left: 15%;
       font-weight: bolder;
       font-style: italic;
       color: blue;
       width: 70%;
       text-align: center;
   }
   #sign-up{
       display: flex;
       justify-content: center;
   }
   #sign-up button{
       background-color: #52AB98;
       height: 30px;
       width: 100px;
       border-radius: 20px;
       font-weight: bolder;
       border: solid 1px blueviolet;
        margin-top: 20px;
   }
   #rent{
       text-shadow: 1px 2px blue;
       font-size: 20px;
   }
   #sign-up p{
       font-weight: lighter;
       color: black;
       padding: 20px;
       margin-top: 5px;
   }
   .block5{
       background-image: url("./4500625.jpg");
       height: 50vh;
       background-size: cover;
       text-align: center;
       background-repeat: no-repeat;
       background-position: center;
       object-fit: cover;
   }
   .block5 p{
       color: white;
       font-size: 30px;
       
   }
   .block5a{
       width: 100%;
       height: 100%;
       /* background-color: rgba(0,0,0,0.5); */

   }
   .block6{
        height: 30vh;
   }