@import url('https://fonts.googleapis.com/css?family=Pacifico');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    }
    body{
        background-image: linear-gradient(to bottom right, #AFF8EF, white);

    }

   header{
       background-color: #0F1010;
       height: 10vh;
       display: flex;
       color: white;
       justify-content: space-around;
       width: 100%;
   }
   header ul{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
   }
   header ul li a ,button{
       text-decoration: none;
       color: white;
       margin-left: 2em;
   }
   header button{
       background-color: #52AB98;
       width: 70px;
       height: 30px;
       font-weight: bolder;
   }

   header ul,p{
       margin-top: 2em;
       font-size: bold;
   }
   header p{
       font-weight: 100;
       font-family: pacifico;
   }
   
    .block1{
        background-image: url("./4500625.jpg");
        height: 60vh;
        background-size: 100% 100%;
        color: white;
        font-weight: bolder;
        text-align: center;
        position: relative;
    }
    #block1a{
        position: absolute;
        top: 5%;
        left: 35%;
        font-size: 35px;
    }
    #block1b{
        position: absolute;
        top: 50%;
        left: 40%;
    }
    .block2{
        height: 5vh;
    }
    .block3{
        height: 50vh;
        border: 2px solid #52AB98;
        position: relative;
        overflow: visible;
    }
    .block3a{
        display: flex;
        justify-content: space-around;
    }
    #block3a1{
        font-weight: bolder;
    }
    #block3a2{
        font-weight: bold;
        font-size: small;
    }
    .block3b{
        background-color: #52AB98;
        position: absolute;
        top: 65%;
        left: 30%;
        width: 40%;
        height: 30vh;
    }
    .block4{
        height: 60vh;
        position: relative;
    }
   .block4_images{
       position: absolute;
       top: 30%;
       width: 100%;
       justify-content: space-between;
   }
   .block4_images img{
       margin-left: 3em;
   }
   .block4a{
       position: absolute;
       top: 75%;
       left: 45%;
       font-weight: bolder;
       font-style: italic;
       color: blue;
   }