.bg-color {
    background-image: linear-gradient(#52AB98, #fff);
    height: 100%;
    /* background-attachment: fixed; */
}
img {
    width: 648px;
    height: auto;
}
.container h2 {
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 48px;
}
.content {
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-description {
    padding: 10px;
}
.text-description h3 {
    font-family: pacifico;
}
.rent-btn {
    text-decoration: none;
    color: #fff;
    background-color: #002B2E;
    padding: 1em;
    border-radius: 5px;
}
.rent-btn:hover {
    background-color: #52AB98;
    color: #f2f2f2;
}
.right {
    float: right;
}
.left {
    float: left;
}

/* Form Styling */
.form-container {
    display: block;
    margin: auto;
}
form {
    max-width: 70%;
    margin: auto;
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 10px;
}
.btn-rent {
    background-color: #52AB98;
    color: #fff;
    width: 90%;
    margin-top: 10px;
}
.btn-rent:hover {
    background-color: #002B2E;
    color: #f2f2f2;
}
input[type=text] {
    border: 1px solid rgb(197, 194, 194);        /* Remove default borders */
}
.form-control:focus{
    outline: none;      /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px #52AB98; /* Full freedom. (works also with border-radius) */
}
#opt:hover {
    background-color: #52AB98;
}